<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\data\TournamentTracker"/>
		<add key="winnerDetermination" value="1"/>
		<add key="senderEmail" value="test@gmail.com"/>
		<add key="senderDisplayName" value="Megan Doe"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=(localdb)\Local;DataBase=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" userName="Test" password="test" port="25" enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>